<%= render 'form' %>


<!-- <form action="/tasks" method='post'>
  <label for="title">Enter task</label>
  <input type="text" name='task[title]'>
  <label for="details">Enter task details</label>
  <input type="text" name='task[details]'>
  <label for="completed">Is this task completed?</label>
  <input type="checkbox">
  <input type="submit">
</form>


 -->
